.navbar {
    display: flex;
    align-items: center;
    background-color: #d5d5d5; /* Background color of the navbar */
    padding: 10px 50px; /* Adjust this for larger/smaller padding */
}

.navbar .logo img {
    height: 50px; /* You can adjust this based on your logo size */
    cursor: pointer; /* Changes the mouse cursor to a hand pointer when hovering over the logo */
}

.navbar .nav-links a {
    margin-left: 20px; /* Spacing between the links */
    color: black; /* Text color of the links */
    font-weight: bold; /* Makes the text bold */
    font-size: 1.2em; /* Adjust text size */
    transition: color 0.3s; /* Smooth transition for hover effects */
}

.navbar .nav-links a:hover {
    color:  RGB(137,47,40); /* Text color of links on hover */
}


body{
    margin: 0;
    background-color: RGB(245,245,245);
    font-family: sans-serif, Helvetica;
}

.homepage-content{
    margin: 8px;
    display: grid;
    gap: 10px;
}

.table{
    grid-column: 1;
    grid-row: 1;
}

.feedback{
    grid-column: 1 ;
    grid-row: 2;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.news {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
}

body h1{
    font-size: 40px;
}

body h2{
    font-size: 30px;
}

body h3{
    font-size: 20px;
}

body p{
    font-size: 14px;
}


.next-match{
    text-align: center;
}

#feedback-button{
    background-color: RGB(137,47,40);
    color: white;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
}
