.navbar {
    display: flex;
    align-items: center;
    background-color: #d5d5d5; /* Background color of the navbar */
    padding: 10px 50px; /* Adjust this for larger/smaller padding */
}

.navbar .logo img {
    height: 50px; /* You can adjust this based on your logo size */
    cursor: pointer; /* Changes the mouse cursor to a hand pointer when hovering over the logo */
}

.navbar .nav-links a {
    margin-left: 20px; /* Spacing between the links */
    color: black; /* Text color of the links */
    font-weight: bold; /* Makes the text bold */
    font-size: 1.2em; /* Adjust text size */
    transition: color 0.3s; /* Smooth transition for hover effects */
}

.navbar .nav-links a:hover {
    color:  RGB(137,47,40); /* Text color of links on hover */
}


body{
    margin: 0;
    background-color: RGB(245,245,245);
    font-family: sans-serif, Helvetica;
}

.homepage-content{
    margin: 8px;
    display: grid;
    gap: 10px;
    grid-template-columns: 30% 70%;  /* Define the width distribution for the grid columns */

}

.table{
    grid-column: 1;
    grid-row: 1;
    
}

.feedback{
    grid-column: 1 ;
    grid-row: 2;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 5%;
    
}

.news {
    grid-column: 2;
    grid-row: 1 / span 2;
}

body h1{
    font-size: 40px;
    margin: 10px 0;
}

body h2{
    font-size: 30px;
    margin: 5px 0;
    text-align: center;
}

body h3{
    font-size: 20px;
}

body p{
    font-size: 14px;
}


.next-match{
    text-align: center;
}

#feedback-button{
    background-color: RGB(137,47,40);
    color: white;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
}

.table table {
    width: 100%;  /* take the full width of its container */
    border-collapse: collapse;  /* remove gaps between cells */
    font-size: 12px;  /* adjust as needed */
    color: RGB(137,47,40);
}

.table th, .table td {
    padding: 5px;  /* space inside each cell */
    text-align: left;  /* align text to the left; adjust as needed */
    border-bottom: 1px solid #ddd;  /* a light border on the bottom of each cell */
}

.table tr:last-child td {
    border-bottom: none;  /* remove the bottom border from the last row */
}

/* about style*/
.aboutcontent{
display: flex;
gap: 5%;
width: 90%;
margin: auto;
margin-top: 8%;

}

.aboutcontent > img{
    max-width: 50%;
    object-fit: contain;
}

.teaminfo > img{
    max-width: 35%;
    object-fit: contain;
    margin-left: 50%;
    transform: translate(-50%,0);

}

.teaminfo > p{
    font-size: 18px;
}

/*small newscard*/
.news{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 5%;
    max-width: 70%;
    margin-left:15% ;
    padding-bottom: 10%;
    
}
.smallnewscard{
    min-width: 20%;    
    background-color:#d5d5d5 ;
}

.smallnewscard > img{
    width: 100%;
    object-fit: contain;
}

.smallnewscard :nth-child(2){
    font-weight: bold;
    
}

.smallnewscard > p{
    padding:0 0 3px 3px;
    margin-bottom: 0px;
}
